@page
@model azure_app_adonis.Pages.DeploymentSlots
@{
  ViewData["Title"] = "DeploymentSlots Slots Page";
}

<div class="text-center">
	<h1 class="display-4">Testing Deployment Slots</h1>
	<h3> 
    Validating the Deployment Slots features</thead> 
  </h3>
</div>